'.source.unityscript':

  'SetTrigger':
    'prefix': 'st'
    'body': 'SetTrigger("${1}");$2'

  'SetInteger':
    'prefix': 'si'
    'body': 'SetInteger(${1});$2'

  'SetFloat':
    'prefix': 'sf'
    'body': 'SetFloat(${1});$2'

  'SetBool':
    'prefix': 'sb'
    'body': 'SetBool("${1}");$2'

  'Debug.Log':
    'prefix': 'dl'
    'body': 'Debug.Log("${1}");$2'

  'gameObject.GetComponent':
    'prefix': 'gc'
    'body': 'GetComponent.<${1}>().;$2'

  'gameObject.transform':
    'prefix': 'tr'
    'body': 'transform.${1};$2'

  'Instantiate':
    'prefix': 'inst'
    'body': 'Instantiate(${1});$2'

  'public var':
    'prefix': 'pv'
    'body': 'public var ${1};$2'


  'public static var':
    'prefix': 'psv'
    'body': 'public static var ${1};$2'


  'private var':
    'prefix': '_pv'
    'body': 'private var ${1};$2'


  'destroy':
    'prefix': 'des'
    'body': 'Destroy(${1});$2'


  'Awake':
    'prefix': 'ufa'
    'body': """
      function Awake (${1}) {
        $2
      }
    """

  'Start':
    'prefix': 'ufs'
    'body': """
      function Start (${1}) {
        $2
      }
    """


  'Update':
    'prefix': 'ufu'
    'body': """
      function Update (${1}) {
        $2
      }
    """

  'LateUpdate':
    'prefix': 'uflu'
    'body': """
      function LateUpdate (${1}) {
        $2
      }
    """

  'FixedUpdate':
    'prefix': 'uffu'
    'body': """
      function FixedUpdate (${1}) {
        $2
      }
    """
